<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/RestAPI/RestAPI"><classes><class name="DELETE.deleteTest"><methods><include name="DeleteTestCall"/></methods></class><class name="GetCalls.FirstGet"><methods><include name="firstGetcall"/><include name="SecondPostAPICall"/><include name="ThirdDeleteCall"/></methods></class><class name="PUTCALL.putCallTest"><methods><include name="deleteTest"/></methods></class><class name="PostCalls.firstone"><methods><include name="postcall"/></methods></class></classes></test></suite>